<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Nosotros diseñamos hermosas experiencias digitales.</h2>
          <p>Conoce un poco mas de lo que hacemos y como lo hacemos, estamos a la altura de tus necesidades y ten por seguro que te ofreceremos una solucion idonea a tu problematica.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl}}/contacto" >Contactanos</a>
        </div>
      </div>
    </div>
  </div>
</section>