<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurllinking }}">
              <img src="{{ site.baseurl }}/img/logo.png" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Inicio</a></li>
                <li{% if page.permalink == "/nosotros/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/nosotros">Nosotros</a></li>
                <li{% if page.permalink == "/servicios/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/servicios">Servicios</a></li>
                {% comment %}
                <li{% if /\/proyectos\//.match(page.permalink) %} class="active"{% endif %}><a href="{{ site.baseurl }}/proyectos">Nuestros Proyectos</a></li>
                {% endcomment %}
                <li{% if page.permalink == "/contacto/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/contacto">Contacto</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
